**<h1 align="center" > Business Cases with Data Science - Case 1</h1>**

**Group members:**<br> 
Chloé Deschanel - 20240693 <br>
Diogo Carvalho - 20240694 <br>
Ingrid Lopez - 20240692 <br>
Ruben Marques- 20240352

# Table of Contents

# 1. Data Exploration

 ## 1.1. Imports

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## 1.2 Loading Data

In [17]:
data = pd.read_csv("../Data/Case1_HotelCustomerSegmentation.csv", sep=";")

In [18]:
# Display all columns
pd.set_option('display.max_columns', None)
data.sample(5)

,ID,Nationality,Age,DaysSinceCreation,NameHash,DocIDHash,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,BookingsNoShowed,BookingsCheckedIn,PersonsNights,RoomNights,DistributionChannel,MarketSegment,SRHighFloor,SRLowFloor,SRAccessibleRoom,SRMediumFloor,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom
11844,11845,DEU,39.0,1164,0x5F76D50E0B4D3C454D833F2224C6A14A1F40E1193641...,0x6AC242B586127F9A97C5D3896752D275F28D47609155...,31,300.6,63.5,0,0,1,6,2,Travel Agent/Operator,Other,0,0,0,0,0,0,0,0,0,0,0,0,0
78526,78527,BEL,34.0,350,0xB5894E178FC645E5BB7F6BB65D9E950098EF1E849123...,0x3807B2CEA55452B0F8D790D6EC3ACAEECC68E25CB351...,152,468.0,56.0,0,0,1,8,4,Travel Agent/Operator,Other,0,0,0,0,0,0,0,0,0,0,0,0,1
106747,106748,SWE,4.0,76,0x595B68D448B17498FA40CE099D17B43B3CE79CC1AC45...,0xDAF7F5933F2ABA7D9B5ABD7555390C5FFF62D7564D53...,0,0.0,0.0,0,0,0,0,0,Travel Agent/Operator,Other,0,0,0,0,0,0,0,1,0,0,0,0,0
32714,32715,DEU,51.0,821,0x3B5EB4FB2FF7E993799BF359A56D26697CD0457E9263...,0x2B2F016A6BBF9DC1453A20E258C8280C04B24AE1B8AE...,158,190.2,40.0,0,0,1,4,2,Travel Agent/Operator,Other,0,0,0,0,0,0,0,0,0,0,0,0,0
68443,68444,USA,19.0,424,0x2FBDC6960325AC39AC86734DF3EC0A84E903C0561827...,0x71E347B91B61B081F9A936E5DF587592049F1863530D...,194,119.0,14.0,0,0,1,2,1,Direct,Direct,0,0,0,0,0,0,0,0,0,0,0,0,0

In [19]:
# Set ID as index
data.set_index('ID', inplace=True)

| #   | Column Name        | Description                                                                                       |
|:----|:-------------------|:--------------------------------------------------------------------------------------------------|
| 1   | ID        | Customer ID customer. |
| 2   | Nationality    | Nationality of the customer in ISO 3166-1 (Alpha 3) format. |
| 3   | Age       | Age of the customer. |
| 4   | DaysSinceCreation       | Number of elapsed days since the customer was created. |
| 5   | NameHash | Hash of the customer's name. |
| 6   | DocIDHash | Hash of the customer’s personal document identification number (usually a passport or ID card). |
| 7   | AverageLeadTime | Average number of days before arrival date the customer makes bookings. |
| 8   | LodgingRevenue | Total amount of lodging revenue paid by the customer so far. |
| 9   | OtherRevenue | Total amount of other revenue (e.g., food & beverage, spa, etc.) paid by the customer so far. |
| 10  | BookingsCanceled | Number of bookings the customer made but subsequently canceled. |
| 11  | BookingsNoShowed | Number of bookings the customer made but subsequently made a "no-show". |
| 12  | BookingsCheckedin | Number of bookings the customer made, which actually ended up staying. |
| 13  | PersonNights | Total person/nights the customer has stayed at the hotel so far. Persons/Nights are the sum of Adults and Children in each booking, multiplied by the number of Nights (Length-of-stay) of the booking. |
| 14  | RoomNights | Total of room/nights the customer has stayed at the hotel so far. Room/Nights are the multiplication of the number of rooms of each booking by the the number of Nights (Length-of- stay) of the booking. |
| 15  | DistributionChannel | Distribution channel normally used by the customer to make bookings at the hotel. |
| 16  | MarketSegment | Current market segment of the customer. |
| 17  | SRHighFloor | Indication if the customer usually asks for a room in a higher floor (0: No, 1: Yes). |
| 18  | RLowFloor  | Indication if the customer usually asks for a room in a lower floor (0: No, 1: Yes).  | 
| 19  | SRAccessibleRoom | Indication if the customer usually asks for an accessible room (0: No, 1: Yes). |
| 20  | SRMediumFloor | Indication if the customer usually asks for a room in a middle floor (0: No, 1: Yes). |
| 21  | SRBathtub | Indication if the customer usually asks for a room with a bathtub (0: No, 1: Yes). |
| 22  | SRShower | Indication if the customer usually asks for a room with a shower (0: No, 1: Yes). |
| 23  | SRCrib  | Indication if the customer usually asks for a crib (0: No, 1: Yes). |
| 24  | SRKingSizeBed | Indication if the customer usually asks for a room with a king size bed (0: No, 1: Yes). |
| 25  | SRTwinBed | Indication if the customer usually asks for a room with a twin bed (0: No, 1: Yes). |
| 26  | SRNearElevator | Indication if the customer usually asks for a room near the elevator (0: No, 1: Yes). |
| 27  | SRAwayFromElevator | Indication if the customer usually asks for a room away from the elevator (0: No, 1: Yes). |
| 28  | SRNoAlcoholInMiniBar | Indication if the customer usually asks for a room with no alcohol in the mini bar (0: No, 1: Yes). |
| 29  | SRQuietRoom | Indication if the customer usually asks for a room away from the noise (0: No, 1: Yes). |

## 1.3. Initial Analysis

Columns to Drop (Little to No Value for Segmentation)

`NameHash, DocIDHash`

**Reason:** The hashed name and document ID offer no intrinsic value for behavioral or demographic segmentation. They’re purely for data privacy and identification.


Important columns:
Almost Certainly Keep: Age, Nationality, AverageLeadTime, Lodging/OtherRevenue, Bookings (Canceled, NoShowed, Checkedin), PersonNights, RoomNights, DistributionChannel, MarketSegment, Special Requests.


### 1.3.1. Types

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 111733 entries, 1 to 111733
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Nationality           111733 non-null  object
 1   Age                   107561 non-null  float64
 2   DaysSinceCreation     111733 non-null  int64
 3   NameHash              111733 non-null  object
 4   DocIDHash             110732 non-null  object
 5   AverageLeadTime       111733 non-null  int64
 6   LodgingRevenue        111733 non-null  float64
 7   OtherRevenue          111733 non-null  float64
 8   BookingsCanceled      111733 non-null  int64
 9   BookingsNoShowed      111733 non-null  int64
 10  BookingsCheckedIn     111733 non-null  int64
 11  PersonsNights         111733 non-null  int64
 12  RoomNights            111733 non-null  int64
 13  DistributionChannel   111733 non-null  object
 14  MarketSegment         111733 non-null  object
 15  SRHighFloor           111733 non-null  int64
 16  SRLowFloor            111733 non-null  int64
 17  SRAccessibleRoom      111733 non-null  int64
 18  SRMediumFloor         111733 non-null  int64
 19  SRBathtub             111733 non-null  int64
 20  SRShower              111733 non-null  int64
 21  SRCrib                111733 non-null  int64
 22  SRKingSizeBed         111733 non-null  int64
 23  SRTwinBed             111733 non-null  int64
 24  SRNearElevator        111733 non-null  int64
 25  SRAwayFromElevator    111733 non-null  int64
 26  SRNoAlcoholInMiniBar  111733 non-null  int64
 27  SRQuietRoom           111733 non-null  int64
dtypes: float64(3), int64(20), object(5)
memory usage: 24.7+ MB

### 1.3.2. Missing values

In [21]:
data.isna().sum()

Nationality                0
Age                     4172
DaysSinceCreation          0
NameHash                   0
DocIDHash               1001
AverageLeadTime            0
LodgingRevenue             0
OtherRevenue               0
BookingsCanceled           0
BookingsNoShowed           0
BookingsCheckedIn          0
PersonsNights              0
RoomNights                 0
DistributionChannel        0
MarketSegment              0
SRHighFloor                0
SRLowFloor                 0
SRAccessibleRoom           0
SRMediumFloor              0
SRBathtub                  0
SRShower                   0
SRCrib                     0
SRKingSizeBed              0
SRTwinBed                  0
SRNearElevator             0
SRAwayFromElevator         0
SRNoAlcoholInMiniBar       0
SRQuietRoom                0
dtype: int64

### 1.3.3. Duplicates

In [22]:
# Checking if we have duplicated IDs
data[data.index.duplicated() == True]

Empty DataFrame
Columns: [Nationality, Age, DaysSinceCreation, NameHash, DocIDHash, AverageLeadTime, LodgingRevenue, OtherRevenue, BookingsCanceled, BookingsNoShowed, BookingsCheckedIn, PersonsNights, RoomNights, DistributionChannel, MarketSegment, SRHighFloor, SRLowFloor, SRAccessibleRoom, SRMediumFloor, SRBathtub, SRShower, SRCrib, SRKingSizeBed, SRTwinBed, SRNearElevator, SRAwayFromElevator, SRNoAlcoholInMiniBar, SRQuietRoom]
Index: []

### 1.3.4. Statistics

In [23]:
# Maybe Separate even more
data_num = data.select_dtypes(exclude = object)
data_cat = data.select_dtypes(include = object)

In [24]:
data_num.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
Age,107561.0,45.64,17.24,-10.0,33.0,47.0,58.0,123.00
DaysSinceCreation,111733.0,595.03,374.66,36.0,288.0,522.0,889.0,1385.00
AverageLeadTime,111733.0,60.83,85.12,-1.0,0.0,21.0,95.0,588.00
LodgingRevenue,111733.0,283.85,379.13,0.0,0.0,208.0,393.3,21781.00
OtherRevenue,111733.0,64.68,123.58,0.0,0.0,31.0,84.0,8859.25
BookingsCanceled,111733.0,0.00,0.08,0.0,0.0,0.0,0.0,15.00
BookingsNoShowed,111733.0,0.00,0.03,0.0,0.0,0.0,0.0,3.00
BookingsCheckedIn,111733.0,0.74,0.73,0.0,0.0,1.0,1.0,76.00
PersonsNights,111733.0,4.33,4.63,0.0,0.0,4.0,6.0,116.00
RoomNights,111733.0,2.20,2.30,0.0,0.0,2.0,3.0,185.00
SRHighFloor,111733.0,0.04,0.20,0.0,0.0,0.0,0.0,1.00
SRLowFloor,111733.0,0.00,0.04,0.0,0.0,0.0,0.0,1.00
SRAccessibleRoom,111733.0,0.00,0.01,0.0,0.0,0.0,0.0,1.00
SRMediumFloor,111733.0,0.00,0.03,0.0,0.0,0.0,0.0,1.00
SRBathtub,111733.0,0.00,0.06,0.0,0.0,0.0,0.0,1.00
SRShower,111733.0,0.00,0.04,0.0,0.0,0.0,0.0,1.00
SRCrib,111733.0,0.02,0.13,0.0,0.0,0.0,0.0,1.00
SRKingSizeBed,111733.0,0.36,0.48,0.0,0.0,0.0,1.0,1.00
SRTwinBed,111733.0,0.16,0.36,0.0,0.0,0.0,0.0,1.00
SRNearElevator,111733.0,0.00,0.02,0.0,0.0,0.0,0.0,1.00
SRAwayFromElevator,111733.0,0.00,0.06,0.0,0.0,0.0,0.0,1.00
SRNoAlcoholInMiniBar,111733.0,0.00,0.01,0.0,0.0,0.0,0.0,1.00
SRQuietRoom,111733.0,0.09,0.28,0.0,0.0,0.0,0.0,1.00

In [25]:
# Summary statistics of categorical data
data_cat.describe().T

,count,unique,top,freq
Nationality,111733,199,FRA,16516
NameHash,111733,107584,0x15A713CE687991691A18F6CDC56ABE24979C73CF5D51...,75
DocIDHash,110732,103480,0xE3B0C44298FC1C149AFBF4C8996FB92427AE41E4649B...,3032
DistributionChannel,111733,4,Travel Agent/Operator,91019
MarketSegment,111733,7,Other,63680